*{
    margin: 0;
    padding: 0;
    background: #2e353d;
}
.menuButton{
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
}
.menuButton:hover{
    background: #009641;
}
#game{
    border-collapse: collapse;
    margin: 2% auto 0;
}
#menu{
    display: flex;
    justify-content: center;
}
#score{
    display: flex;
    justify-content: center;
    color: white;
}
td.cell{
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}
.food {
    background: #f7ca04;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 2.0, 0, 1.0);
    animation-duration: 1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 2.0, 0, 1.0);
    -webkit-animation-duration: 0.4s;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.5;
    }
}
.rock{
    background: #b3afaf;
}
.snakeBody{
    background: #1c5f0e;
    border-radius: 7px;
}
.snakeHead{
    background: #00d021;
    border-radius: 15px;
}
.disabled {
    background: #7c7c7c;
}
.disabled:hover{
    background: #7c7c7c;
}